/*---------------------------------------------------------  */
/*                CSS FOR index section                  */
/*---------------------------------------------------------  */

.navbar {
  overflow: hidden;
  /*background-color: #333;*/
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar ul {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  opacity: 50%;
}
.navbar-default {
  background-color:white;
  background-image: none;
  background-repeat: no-repeat;
 }

 #navbar-index {
   background-image: none;
   background-repeat: no-repeat;
 }
 .navlink{
   border-radius:15px;
 }

 #index-body{
 	background: url("../images/Home.jpg");
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
#main-title{
	margin-top:15%;
	color:white;
	text-align: center;
}

#main-title h1{
	font-family: "Playfair Display", serif;
	font-size: 85px;
}

#main-title p{
	font-family:"Lato", sans-serif;
	text-align: center;
	margin-top:1.5%;
	font-size:28px;
	text-transform: uppercase;
}

/*---------------------------------------------------------  */
/*                CSS FOR Modal section                  */
/*---------------------------------------------------------  */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon{
  float: left;
  margin-left: 1em;
}



/*---------------------------------------------------------  */
/*                CSS FOR Projects section                  */
/*---------------------------------------------------------  */
/* ================================================================================ */
/* ============================== PARALLEX SCROLL ================================= */

/* setting the general setting for the TEXT in the paralax scroll */
.leading-statement{
	font-family:"Lato", sans-serif;
	width:38%;
	color:#eff6ff;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size: 60px;
	width:70%;
	margin:auto;
	padding-top:16%;
	text-align: center;
}

.projectLink{
  font-family:"Lato", sans-serif;
  width:38%;
  color:#eff6ff;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size: 60px;
  width:70%;
  margin:auto;
  padding-top:16%;
  text-align: center;
}
/* .projectLink:hover{
  border-style: solid;
  border-color: white;
} */

/* adding slight TEXT adjustments to other text boxes */
.statement-01{
	font-size: 45px;
	padding-top:7%;
}

.statement-02{
	font-size: 55px;
	padding-top:8%;
}

/* adding description TEXT when hovering */
.parallaw-div-00:hover{
  background-color: white;
}

/* Section 00 -------------------------------------------- */
/* settings for parallax div 00 */
.parallax-div-00 {
	background: url("../images/GainzGrains.jpg");
	width:90%;
	margin:5% 5% 0 5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	transition:.4s ease-in-out;
}


/* Section 01 -------------------------------------------- */
/* settings for parallax div 01 */
.parallax-div-01 {
	background: url("../images/ExtremeCapitalism.jpg");
	width:90%;
	margin-left:5%;
	margin-top:5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	transition:.4s ease-in-out;
}



/* Section 02 -------------------------------------------- */
/* settings for parallax div 02 */
.parallax-div-02 {
	background: url("../images/Codebay.jpg");
	width:90%;
	margin:5% 5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	transition:.4s ease-in-out;
}




/*---------------------------------------------------------  */
/*                CSS FOR About section                  */
/*---------------------------------------------------------  */

#about-body{
  background: url("../images/AboutBackground.jpg");
	width:100%;
  height:100%
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

#about-section{
  /* background: url("../images/AboutBackground.jpg"); */
  background-color: rgba(179, 179, 179, 0.3);
  /* opacity: 40% */
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  margin-top:25%;
  margin-left:25%;
  width:50%;
  height:100%;
  color:black;
  text-align: center;
  border: solid;
  border-color:rgba(179, 179, 179);
  border-radius:15px;
  padding-top: 2%;
}
.headshot{
  border-radius:15px;

}
#bio-section{
  float: left
}
#bio-info{
	margin-top:05%;
	color:white;
	text-align: center;
}
/* .skill-type{
  float: left;;
}
.skill-item{
  float:left;
  margin-left:auto;
} */
